<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15000">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %X{BATCH_NAME} - %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="stdout" />
    </root>
</configuration>